@charset "utf-8";
/* 와이드 pc */
.videoBox { width: 100%; height: 100%; overflow: hidden; position: absolute; border: 60px solid #0b9abd; box-sizing: border-box; transition-duration: 0.3s; transition-timing-function: ease-in-out; }
.videoBox p { position: absolute; top: 50%; left: 50%; margin-top: -135px; margin-left: -417px; }
#videoBG {
    position: absolute; /*고정=>fixed/ 스크롤처리=>absolute 배경으로 고정시 fixed*/
    left: 50%;
    top: 50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
    width: auto;
    min-width: 100%; /*동영상 너비를 꽉차게*/
    height: auto;
    min-height: 100%; /*동영상 높이를 꽉차게*/
    transform: translateX(-50%) translateY(-50%);
    z-index: -100; /*다른요소보다 아래에 위치*/
}
#imgBG{
    position: absolute; /*고정=>fixed/ 스크롤처리=>absolute 배경으로 고정시 fixed*/
    left: 50%;
    top: 50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
    width: auto;
    min-width: 100%; /*동영상 너비를 꽉차게*/
    height: auto;
    min-height: 100%; /*동영상 높이를 꽉차게*/
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    display: none;
}
.down { display: block; font-size: 20px; position: absolute; left: 50%; margin-left: -60px; bottom: 8%; animation: ani 1s infinite alternate; color: #fff !important; }
.down::before { content: ""; display: block; width: 21px; height: 31px; margin: 0 auto 10px; background: url(../images/main_scroll_icon.png) no-repeat; }
@keyframes ani {
	0% { transform: scale(1); opacity: 1; }
	100% { transform: scale(1.2); opacity: 0.8; }
}	
#content {  }
.wrap {  }
h3 { text-align: center; font-size: 70px; color: #0b9abd; }

/* mainAbout */
.mainAbout { position: relative; }
.mainAbout .wrap { padding: 9.5% 7% 5%; }
.mainAbout .wrap p { text-align: center; font-size: 25px; color: #708185; letter-spacing: -0.025em; margin-top: 30px; }
.mainAbout::before { content: ""; display: block; height: 45px; width: 150px; background: url(../images/main_about_bg.png) center no-repeat; position: absolute; top: 10%; left: 50%; margin-left: -75px; }
.mainAbout::after { content: ""; display: block; height: 450px; background: url(../images/main_about_img.jpg) center top -155px no-repeat; /* background-attachment: fixed; */ text-align: center; line-height: 450px; }
.mainAbout .img { display: inline-block; vertical-align: middle; font-size: 55px; letter-spacing: -0.025em; color: #fff; font-weight: bold; }

/* mainMovie */
.mainMovie { padding: 6% 7%; }
.mainMovieBox { position: relative; margin-top: 30px; }
.mainMovieBox ul { overflow: hidden; }
.mainMovieBox ul li {  }
.mainMovieBox ul li:first-child { margin-bottom: 40px; }
.mainMovieBox ul li a { display: block; width: 260px; height: 290px; line-height: 290px; text-align: center; position: relative; }
.mainMovieBox ul li a::before { content: ""; position: absolute; display: block; width: 100%; height: 100%; transition-duration: 0.3s; }
.mainMovieBox figcaption,
.mainMovieBox h2,
.mainMovieBox p,
.mainMovieBox button { backface-visibility: hidden; }
.mainMovieBox figcaption { position: absolute; top: 0; width: 100%; height: 100%; overflow: hidden; }
.mainMovieBox h2 { color: #fff; text-transform: uppercase; transition: transform 0.3s; transform: translateY(-90px); }
.mainMovieBox a:hover h2 { font-size: 20px; transform: translateY(-125px); }
.mainMovieBox h2,
.mainMovieBox p { transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445); }
.mainMovieBox a:hover p { opacity: 0;  transition-delay: 0s; transition-duration: 0.1s; transform: translateY(-330px); }
.mainMovieBox ul li a p { text-transform: uppercase; vertical-align: middle; display: inline-block; font-size: 18px; font-weight: 700; letter-spacing: -0.025em; color: rgba(255,255,255,0.7); position: relative; transition: transform 0.3s; transform: translateY(-330px); transition-delay: 0.05s; }
.mainMovieBox svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.mainMovieBox svg path { fill: #0b9abd; }
.mainMovieBox button { position: absolute; border: none; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; transition: opacity 0.3s, transform 0.3s; bottom: 0; left: 0; padding: 15px; width: 100%; background: rgba(255,255,255,0.3); color: #fff; transform: translateY(100%); }
.mainMovieBox a:hover button { transition-timing-function: ease-out; transform: translateY(0); }
.mainMovieBox .left { float: left; }
.mainMovieBox .left li:first-child a { background: url(../images/main_movie_img1.jpg) center no-repeat; background-size: auto 100%; }
.mainMovieBox .left li:last-child a { background: url(../images/main_movie_img2.jpg) center no-repeat; background-size: auto 100%; }
.mainMovieBox .left li:first-child:hover a::before { background: rgba(11,154,189,0.4); }
.mainMovieBox .left li:last-child:hover a::before { background: rgba(204,102,46,0.3); }
.mainMovieBox .left li:first-child:hover svg path { fill: rgba(11,154,189,1); }
.mainMovieBox .left li:last-child:hover svg path { fill: rgba(204,102,46,1); }
.mainMovieBox div { width: auto; height: 620px; margin-left: 300px; margin-right: 300px; background: url(../images/main_movie_bigImg.jpg) center no-repeat; }
.mainMovieBox .right { position: absolute; top: 0; right: 0; }
.mainMovieBox .right li:first-child a { background: url(../images/main_movie_img3.jpg) center no-repeat; background-size: auto 100%; }
.mainMovieBox .right li:last-child a { background: url(../images/main_movie_img4.jpg) center no-repeat; background-size: auto 100%; }
.mainMovieBox .right li:first-child:hover a::before { background: rgba(217,136,104,0.3); }
.mainMovieBox .right li:last-child:hover a::before { background: rgba(89,83,154,0.5); }
.mainMovieBox .right li:first-child:hover svg path { fill: rgba(217,136,104,1); }
.mainMovieBox .right li:last-child:hover svg path { fill: rgba(89,83,154,1); }

/* mainCharacter */
.mainCharacter { background: url(../images/main_character_bg.jpg) center no-repeat; background-size: cover; padding: 5% 0; }
.mainCharacter ul { overflow: hidden; width: 86%; margin: 0 auto; }
.mainCharacter ul li { float: left; width: 18%; height: 370px; background: #0b9abd; margin-right: 2.7%; padding: 0 2.47%; position: relative; overflow: hidden; }
.mainCharacter li:hover::after {  }
.mainCharacter ul li::after { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100% !important; }
.mainCharacter ul li:first-child::after { background: url(../images/main_character_img1.png) left 20px top 20px no-repeat; background-size: cover; }
.mainCharacter ul li:nth-of-type(2)::after { background: url(../images/main_character_img2.png) left -40px bottom 40px no-repeat; }
.mainCharacter ul li:nth-of-type(3)::after { background: url(../images/main_character_img3.png) left 14% bottom -5% no-repeat; }
.mainCharacter ul li:last-child::after { background: url(../images/main_character_img4.png) left 30px bottom 20px no-repeat; background-size: 150%; }
.mainCharacter ul li:last-child { margin-top: 410px; margin-right: 0px; }
.mainCharacter ul li:nth-of-type(2),
.mainCharacter ul li:nth-of-type(3) { height: 780px; }
.mainCharacter ul li p { color: #fff; font-size: 20px; font-family: 'Noto Sans KR', sans-serif; text-transform: uppercase; }
.mainCharacter ul li p strong { font-family: 'Inconsolata', monospace; font-size: 50px; display: block; padding: 50px 0 40px; }

/* mainGallery */
.mainGallery { padding: 100px 0; position: relative; overflow: hidden; }
.mainGallery .swiper-container { width: 86%; z-index: 20; }
.mainGallery ul { overflow: visible; padding-top: 40px; }
.mainGallery li { float: left; width: 410px; height: 407px; }
.mainGallery li a { position: relative; display: block; height: 100%; margin-right: 40px; overflow: hidden; }
.mainGallery li a div { height: 100%; }
.mainGallery li:hover a div { filter: grayscale(50%) blur(3px); transition-duration: 0.5s; transform: scale(1.1); }
.mainGallery li span { display: block; position: absolute; top: 50%; width: 100%; color: #fff; font-size: 35px; font-weight: bold; text-transform: uppercase; text-align: center; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445); opacity: 0; }
.mainGallery li:hover span { transform: scale(1.5); transform-origin: center; opacity: 1; }
.mainGallery .swiper-pagination { height: 6px; position: relative; margin-top: 40px; background: #afb4b5; }
.mainGallery .swiper-pagination-progress .swiper-pagination-progressbar { background: #0b9abd; }
.mainGallery .more { display: block; font-size: 30px; color: #afb4b5; width: 135px; margin: 40px auto 0; text-transform: uppercase; font-weight: bold; }
.mainGallery .more:hover { animation: more 0.9s both; color: #0b9abd; }
@keyframes more {
  0% { transform: scale3d(1, 1, 1); }
  30% { transform: scale3d(0.75, 1.25, 1); }
  40% { transform: scale3d(1.25, 0.75, 1); }
  50% { transform: scale3d(0.85, 1.15, 1); }
  65% { transform: scale3d(1.05, 0.95, 1); }
  75% { transform: scale3d(0.95, 1.05, 1); }
  100% { transform: scale3d(1, 1, 1); }
}
.mainGallery li:nth-child(1) a div { background: url(../images/main_gallery_img1.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(2) a div { background: url(../images/main_gallery_img2.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(3) a div { background: url(../images/main_gallery_img3.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(4) a div { background: url(../images/main_gallery_img4.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(5) a div { background: url(../images/main_gallery_img5.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(6) a div { background: url(../images/main_gallery_img6.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(7) a div { background: url(../images/main_gallery_img7.jpg) center center no-repeat; background-size: cover; }
.mainGallery li:nth-child(8) a div { background: url(../images/main_gallery_img8.jpg) center center no-repeat; background-size: cover; }
.mainGallery .wave { display: block; width: 500px; height: 201px; background: url(../images/main_gallery_bg4.png) no-repeat; position: absolute; bottom: -63px; left: -30px; animation: waves 6s cubic-bezier(0.5, 0, 0.5, 1) infinite; z-index: 10; }
@keyframes waves {
	50% { left: 50px; }
}
.mainGallery::before, .mainGallery::after { content: ""; display: block; position: absolute; }
.mainGallery::before { width: 600px; height: 326px; background: url(../images/main_gallery_bg2.png) no-repeat; top: 20px; right: -150px; animation: sun 10s cubic-bezier(0.5, 0, 0.5, 1) infinite; }
@keyframes sun {
	50% { right: -70px; }
}	
.mainGallery::after { width: 500px; height: 366px; background: url(../images/main_gallery_bg5.png) no-repeat; bottom: -80px; left: -200px; animation: cloud 4s cubic-bezier(0.5, 0, 0.5, 1) infinite; }
@keyframes cloud {
    50% { bottom: -30px; left: -120px; }
}

/* subTrailer */
.subContent { background: #fff; }
.subImg {  }
.subImg img {  }
.subImg #imgBG, #subBG { display: block; position: fixed; top: 50%; left: 50%; width: auto; min-width: 100%; height: auto; min-height: 100%; transform: translateX(-50%) translateY(-50%); z-index: -100; }
.subImg h2 { position: absolute; top: 50%; left: 50%; width: 772px; margin-top: -120px; margin-left: -386px; font-size: 70px; font-weight: normal; text-align: center; font-family: 'Frijole', cursive; line-height: 120px; color: #0b9abd; text-shadow: 5px 3px 0px rgba(255,255,255,1); }
.subImg h2 span { display: block; font-size: 150px; }
.trailer { padding: 5% 13%; }
.trailer .title { text-transform: uppercase; position: relative; padding: 7% 0 2%; }
.trailer .title::before { content: ""; display: block; height: 45px; width: 150px; background: url(../images/main_about_bg.png) center no-repeat; position: absolute; top: 10%; left: 50%; margin-left: -75px; }
.trailer .contentArea {  }
.trailer .imgPart {  }
.trailer .imgPart a { display: block; position: relative; }
.trailer .imgPart a > img { width: 100%; }
.trailer .imgPart .playBnt { width: 200px; height: 200px; border-radius: 200px; background-color: rgba(255,255,255,0.5); position: absolute; top: 50%; left: 50%; margin-left: -100px; margin-top: -100px;  }
.trailer .imgPart .playBnt span { display: block; width: 0; height: 0; border-left: 100px solid #0b9abd; border-top: 50px solid transparent; border-bottom: 50px solid transparent; cursor: pointer; margin: 50px 62px; }
.trailer .imgPart a:hover .playBnt span { border-left: 100px solid #0b9abd; }
.trailer .imgPart a:hover .playBnt { animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; }
@keyframes rotate-in-center {
    0% {
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}
.trailer .contentArea p { font-size: 25px; color: #708185; letter-spacing: -0.025em; margin-top: 30px; }
.trailer .contentArea p strong { color: #0b9abd; font-size: 35px; line-height: 45px; text-transform: uppercase; display: block; margin-bottom: 2%; }
.trailer .mt10 { margin-top: 10%; }

/* subCharacter */
.character { padding: 5% 7%;  }
.character > div, .character .heihei, .character .pua { position: relative; }
.character > div > img, .character > div > div > img { position: absolute; z-index: 19; }
.character > div > div > img { bottom: 0; }
.character > div > img { opacity: 0; transition-duration: 0.5s; }
.character .moana > img { top: 100px; right: -5%; width: 50%; }
.characterUp { top: -30px !important; opacity: 1 !important; }
.character .maui, .character .etc { margin-top: 5%; }
.character .maui > img { top: 100px; left: 0; width: 42%; }
.character .etc { overflow: hidden; }
.character .etc .heihei, .character .etc .pua{ width: 50%; float: left; }
.character .etc .heihei { float: right; }
.character .pua > img { right: 5%; width: 40%; }
.character .heihei > img { left: 0; width: 40%; }
.character .etc .grid { margin-top: 5%; }
.character .grid { overflow: hidden; }
.character dl { width: 54%; margin-bottom: 3%; }
.character .maui dl, .character .heihei dl { float: right; text-align: right; }
.clear { clear: both; }
.character .etc dl { width: 45%; }
.character dt { font-size: 100px; text-transform: uppercase; font-weight: bold; color: #0b9abd; margin-bottom: 5%; }
.character dd { margin-bottom: 1.5%; font-size: 25px; color: #708185; letter-spacing: -0.025em; }
.character figure { float: left; position: relative; overflow: hidden; margin-bottom: 3%; width: 31.3%; height: auto; background: #3085a3; margin-right: 3%; }
.character figure:last-child { margin-right: 0%; }
.character figure img { position: relative; display: block; min-height: 100%; max-width: 100%; opacity: 0.95; transition: transform 0.35s; transform-origin: 50% 50%; }
.character figure:hover img { transform: scale3d(0.95,0.93,1); }

/* subMovie */
.movie { overflow: hidden; }
.movie .contentArea { width: 48%; float: left; margin-bottom: 4%; }
.movie .contentArea:nth-of-type(2n) { margin-left: 4%; }

/* subGallery */
.gallerys { padding: 5% 7%; }
.grid-image-item, .grid--images .grid-sizer { width: 20%; }
.grid-image-item { float: left; margin-bottom: 10px; }

.grid-image-item img{ border-radius: 3%; display: block; width: 96%; margin: 10px auto; }
.grid-image-item h4{ display: block; width: 96%; text-align: center; margin: 0 auto; }
.grid-image-item p { display: block; width: 96%; text-align: center; margin: 0 auto; }

/* 일반 pc */

@media screen and (max-width: 1280px) {
    h3 { font-size: 62px; }
    .videoBox p { margin-top: -110px; margin-left: -325px; }
    .videoBox p img { width: 650px; }
    .mainAbout::before { top: 6%; }
    .mainAbout .wrap p { font-size: 23px; }
    .mainAbout::after { background: url(../images/main_about_img.jpg) left 65% top -155px no-repeat; }
    .mainMovieBox ul li:first-child { margin-bottom: 30px; }
    .mainMovieBox ul li a { width: 200px; height: 235px; line-height: 230px; }
    .mainMovieBox h2 { font-size: 22px; transform: translateY(-70px); }
    .mainMovieBox a:hover h2 { font-size: 18px; transform: translateY(-100px); }
    .mainMovieBox div { margin-left: 230px; margin-right: 230px; height: 500px; }
    .mainMovieBox ul li a p { font-size: 16px; transform: translateY(-260px); }
    .mainMovieBox a:hover p { transform: translateY(-260px); }
    .mainMovieBox button { font-size: 14px; padding: 10px; font-weight: normal; }
    .mainCharacter ul li p { font-size: 17px; }
    .mainCharacter ul li p strong { font-size: 40px; }
    .mainCharacter ul li { }
    .mainCharacter ul li:first-child::after { background: url(../images/main_character_img1.png) right -15px top 100px no-repeat; background-size: cover; }
    .mainCharacter ul li:nth-of-type(2)::after { background: url(../images/main_character_img2.png) left -80px bottom 40px no-repeat; }
    .mainCharacter ul li:nth-of-type(3)::after { background: url(../images/main_character_img3.png) left 30% bottom -5% no-repeat; }
    .mainGallery li { width: 370px; height: 367px; }
    .mainGallery li:hover span { transform: scale(1.1); }
    .mainGallery::before { width: 500px; height: 286px; background-size: 100%; }
    @keyframes sun {
        50% { right: -85px; }
    }
    
    .trailer { padding: 3% 7% 5%; }
    .trailer .contentArea p strong { font-size: 32px; line-height: 42px; }
    .trailer .contentArea p { font-size: 23px; margin-top: 25px; }
    .trailer .mt10 { margin-top: 7%; }
    
    .character .maui > img { width: 46%; }
    .character .pua > img { right: -8%; top: 5%; }
    .character .heihei > img { left: -14%; width: 45%; }
    .character dt { font-size: 70px; }
    .character dd  { font-size: 23px; }
    .character .etc dl { width: 65%; }
    .character .moana dd:nth-of-type(3), .character .moana dd:nth-of-type(4), .character .maui dd:nth-of-type(3), .character .maui dd:nth-of-type(4) { display: none; }
    
    .movie { padding: 5% 7%; }
}
/* 테블릿 */
@media screen and (max-width: 1024px) {
    h3 { font-size: 60px; }
    #content { width: auto; margin: 0; }
    .videoBox { border: 40px solid #0b9abd; }
    .videoBox p { margin-top: -90px; margin-left: -275px; }
    .videoBox p img { width: 550px; }
    .mainAbout::after { background: url(../images/main_about_img.jpg) left 60% top -155px no-repeat; }
    .mainAbout::before { top: 5%; }
    .mainAbout::before { height: 45px; width: 130px; margin-left: -65px; background-size: 100%; }
    .mainAbout .wrap p { font-size: 21px; }
    .mainMovie { padding: 7% 7%; }
    .mainMovieBox { overflow: hidden; }
    .mainMovieBox ul { width: 48%; }
    .mainMovieBox ul li a { width: auto; height: 300px; line-height: 280px; }
    .mainMovieBox div { display: none; }
    .mainMovieBox .left li:first-child a { background: url(../images/main_movie_img1.jpg) center top no-repeat; background-size: cover; }
    .mainMovieBox .left li:last-child a { background: url(../images/main_movie_img2.jpg) center no-repeat; background-size: cover; }
    .mainMovieBox .right li:first-child a { background: url(../images/main_movie_img3.jpg) center top no-repeat; background-size: cover; }
    .mainMovieBox .right li:last-child a { background: url(../images/main_movie_img4.jpg) center no-repeat; background-size: cover; }
    .mainMovieBox .right { float: right; position: static; }
    .mainMovieBox h2 { font-size: 30px; transform: translateY(-85px); }
    .mainMovieBox a:hover h2 { font-size: 23px; transform: translateY(-122px); }
    .mainMovieBox ul li a p { font-size: 20px; transform: translateY(-310px); }
    .mainMovieBox a:hover p { transform: translateY(-310px); }
    .mainCharacter { background-size: cover; padding: 7% 0; }
    .mainCharacter ul li { width: 38%; height: 300px; margin-right: 4%; padding: 0 5%; }
    .mainCharacter ul li:nth-of-type(2), .mainCharacter ul li:nth-of-type(4) { float: right; margin-right: 0; }
    .mainCharacter ul li:nth-of-type(2), .mainCharacter ul li:nth-of-type(3) { height: 600px; }
    .mainCharacter ul li:nth-of-type(3), .mainCharacter ul li:nth-of-type(4) { margin-top: 5%; }
    .mainCharacter ul li:first-child::after { background: url(../images/main_character_img1.png) right -20px top 14% no-repeat; background-size: cover; }
    .mainCharacter ul li:nth-of-type(2)::after { background: url("../images/main_character_img2.png") left 15% bottom -34% no-repeat }
    .mainCharacter ul li:nth-of-type(3)::after { background: url(../images/main_character_img3.png) center bottom -140px no-repeat; }
    .mainCharacter ul li:last-child::after { background-size: 100%; }
    .mainGallery::before { width: 430px; height: 235px; top: 40px; }
    .mainGallery::after { width: 400px; height: 294px; background-size: 100%; }
    .mainGallery .wave { width: 400px; height: 162px; background-size: 100%; }
    
    .trailer .title { padding: 10% 0 3%; }
    .trailer .contentArea p strong { font-size: 30px; line-height: 40px; }
    .trailer .contentArea p { font-size: 21px; margin-top: 23px; }
    
    .character .moana > img { right: -15%; width: 58%; }
    .character .maui > img { width: 55%; left: -10%; }
    .character .pua > img { right: -8%; top: 5%; }
    .character .heihei > img { left: -14%; width: 45%; }
    .characterUp { top: 0px !important; }
    .character dt { font-size: 60px; }
    .character dd  { font-size: 21px; }
    .character .etc dl { width: 65%; }
    .character .moana dd:nth-of-type(3), .character .moana dd:nth-of-type(4), .character .maui dd:nth-of-type(3), .character .maui dd:nth-of-type(4) { display: none; }
    
    .movie .imgPart .playBnt { width: 100px; height: 100px; border-radius: 100px; margin-left: -50px; margin-top: -50px; }
    .movie .imgPart .playBnt span { border-left: 50px solid #0b9abd; border-top: 25px solid transparent; border-bottom: 25px solid transparent; margin: 25px 31px; }
    
    .grid-image-item, .grid--images .grid-sizer { width: 25%; }
}
/* 소형 테블릿 */
@media screen and (max-width: 768px) {
	.mainAbout .wrap { padding: 15% 7% 7%; }
    .videoBox { border: 0px; }
    .videoBox p { display: none; }
    .mainCharacter ul li:last-child::after { background-size: 150%; }
    .mainGallery::before { top: 120px; right: -180px; }
    .mainGallery { padding: 7% 0; }
    .mainGallery::before, .mainGallery::after, .mainGallery .wave { display: none; }
    
    .subImg h2 { width: 664px; margin-top: -100px; margin-left: -332px; font-size: 60px; line-height: 100px; }
    .subImg h2 span { font-size: 130px; }
    .trailer .title { padding: 13% 0 5%; }
    .trailer .title::before { height: 45px; width: 130px; margin-left: -65px; background-size: 100%; }
    .trailer .contentArea p strong { font-size: 26px; line-height: 33px; }
    .trailer .imgPart .playBnt { width: 100px; height: 100px; border-radius: 100px; margin-left: -50px; margin-top: -50px; }
    .trailer .imgPart .playBnt span { border-left: 50px solid #0b9abd; border-top: 25px solid transparent; border-bottom: 25px solid transparent; margin: 25px 31px; }
    
    .character .moana > img, .character .maui > img, .character .pua > img, .character .heihei > img { display: none; }
    .character dl { width: auto; }
    .character .maui dl, .character .heihei dl { float: none; text-align: left; }
    .character .moana dd:nth-of-type(3), .character .moana dd:nth-of-type(4), .character .maui dd:nth-of-type(3), .character .maui dd:nth-of-type(4) { display: block; } 
    .character .etc dl { width: 100%; }
    .character .etc .heihei, .character .etc .pua { width: 47%; }
    .character figure { width: 48.5% }
    .character figure:nth-of-type(1) { width: auto; margin-right: 0; }
    
    .grid-image-item, .grid--images .grid-sizer {width: 33.33%; }
}
/* 모바일 */
@media screen and (max-width: 640px) {
    .mainAbout::before { height: 37px; width: 114px; margin-left: -57px; }
	h3 { font-size: 40px; }
    .mainAbout .wrap p { font-size: 19px; }
    .mainMovieBox ul li a { height: 280px; line-height: 260px; }
    .mainMovieBox h2 { font-size: 22px; transform: translateY(-72px); }
    .mainMovieBox a:hover h2 { font-size: 19px; transform: translateY(-113px); }
    .mainMovieBox ul li a p { font-size: 17px; transform: translateY(-291px); }
    .mainCharacter ul li { height: 260px; margin-right: 4%; padding: 0 5%; }
    .mainCharacter ul li:nth-of-type(2), .mainCharacter ul li:nth-of-type(3) { height: 500px; }
    .mainCharacter ul li p strong { font-size: 28px; padding: 15% 0 10%; }
    .mainCharacter ul li p { font-size: 16px; }
    .mainCharacter ul li:nth-of-type(2)::after { background: url(../images/main_character_img2.png) left 15% bottom -130px no-repeat; }
    .mainCharacter ul li:nth-of-type(3)::after { background: url(../images/main_character_img3.png) left 35% bottom -170px no-repeat; }
    .mainGallery li { width: 310px; height: 307px; }
    .mainGallery li a { margin-right: 25px; }
    .mainGallery li:hover span { transform: scale(0.8); }
    .mainGallery .more { font-size: 24px; width: 108px; }
    
    .subImg h2 { width: 540px; margin-top: -80px; margin-left: -270px; font-size: 50px; line-height: 80px; }
    .subImg h2 span { font-size: 100px; }
    .trailer .title { padding: 13% 10% 5%; }
    .trailer .title::before { height: 37px; width: 114px; margin-left: -57px; }
    .trailer .contentArea p strong { font-size: 24px; line-height: 29px; }
    .trailer .contentArea p { font-size: 19px; margin-top: 23px; }
    
    .character dt { font-size: 40px; }
    .character dd  { font-size: 19px; }
    
    .grid-image-item, .grid--images .grid-sizer { width: 50%; }
}
/* 최소 사이즈 처리 */
@media screen and (max-width: 480px) {
	#wrap { min-width: 320px; }
    .mainAbout::before { display: none; }
    .mainAbout::after { height: 250px; background: url("../images/main_about_img.jpg") left 56% center no-repeat; line-height: 250px; background-size: cover; }
    .mainAbout .wrap { padding: 10% 7%; }
    .mainAbout .wrap p { font-size: 16px; margin-top: 5%; }
    .mainMovieBox { margin-top: 0; }
    .mainMovieBox ul { width: 100%; }
    .mainMovieBox ul li { margin-top: 5%; }
    .mainMovieBox ul li:first-child { margin-bottom: 0; }
    .mainCharacter ul li { float: none; width: 100%; height: 180px; margin-right: 0; padding: 0 7%; margin-top: 7%; }
    .mainCharacter ul li:nth-of-type(3), .mainCharacter ul li:nth-of-type(4) { margin-top: 7%; }
    .mainCharacter ul li:first-child { margin-top: 0; }
    .mainCharacter ul li:nth-of-type(2), .mainCharacter ul li:nth-of-type(3) { height: 200px; }
    .mainCharacter ul li:nth-of-type(2), .mainCharacter ul li:nth-of-type(4) { float: none; }
    .mainMovieBox ul li a { height: 220px; line-height: 200px; }
    .mainMovieBox h2 { font-size: 22px; transform: translateY(-59px); }
    .mainMovieBox a:hover h2 { font-size: 17px; transform: translateY(-87px); }
    .mainMovieBox ul li a p { font-size: 17px; transform: translateY(-220px); }
    .mainMovieBox a:hover p { transform: translateY(-220px); }
    .mainCharacter ul li p { position: relative; z-index: 1; }
    .mainCharacter ul li p:nth-of-type(2) { display: none; }
    .mainCharacter ul li:first-child::after { background: url(../images/main_character_img1.png) right 40px top 16% no-repeat; background-size: 60%; }
    .mainCharacter ul li:nth-of-type(2)::after { background: url(../images/main_character_img2.png) right -260px top no-repeat; }
    .mainCharacter ul li:nth-of-type(3)::after { background: url(../images/main_character_img3.png) right -110px top -90px no-repeat; }
    .mainCharacter ul li:last-child::after { background: url(../images/main_character_img4.png) right -80px center no-repeat; background-size: cover; }
    .mainCharacter ul li p strong { font-size: 40px; padding: 19% 0; }
    .mainGallery ul { padding-top: 25px; }
    .mainGallery .swiper-pagination { height: 4px; margin-top: 25px; }
    .mainGallery .more { margin: 25px auto 0; }
    
    .subImg h2 { width: 310px; margin-top: -70px; margin-left: -155px; font-size: 35px; line-height: 70px; }
    .subImg h2 span { font-size: 60px; }
    .trailer .title { padding: 5% 7% 5%; }
    .trailer .title::before { display: none; }
    .trailer .contentArea p strong { font-size: 20px; line-height: 24px; }
    .trailer .contentArea p { font-size: 16px; margin-top: 19px; }
    
    .character figure { width: auto; margin-right: 0; }
    .character .etc .heihei, .character .etc .pua { width: auto; float: none; }
    
    .movie .contentArea { width: auto; float: none; margin-left: 0 !important; }
    
    .grid-image-item, .grid--images .grid-sizer {width: auto; }
}