@charset "utf-8";

/* header 영역 */
.headerWrap { width: 100%; height: 60px; position: absolute; top: 0; left: 0; border-bottom: 1px solid rgba(255,255,255,0.3); z-index: 90; }
.headerWrap h1 a { display: block; width: 90px; height: 60px; background: url(../img/logo.svg) center no-repeat; background-size: 110px 20px; text-indent: -9999px; }
.navBtn { position: absolute; top: 0; right: 0; color: #fff; display: block; width: 60px; height: 60px; background-color: red; z-index: 1; text-indent: -9999px; background: url(../img/menu.svg) center no-repeat; background-size: 20px 20px; }

/* 사이트맵 영역 */
.siteMap { display: none; width: 100%; height: 100%; position: fixed; top: 0; right: 0; padding-left: 60px;  box-sizing: border-box; z-index: 99; }
.shadow { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10; background: rgba(0,0,0,0.6); }
.siteBg { width: 100%; height: 100%; background: url(../img/site_bg.jpg) no-repeat; background-size: cover; position: relative; z-index: 11; }
.navLogo { font-size: 0px; display: inline-block; width: 133px; height: 50px; background: url(../img/site_logo.svg) left no-repeat; background-size: 133px 50px; margin: 70px 0 20px 30px; }
.siteList, .navLogin { padding: 0 32px; }
.siteList > li { border-bottom: 1px solid #444; }
.siteList > li:nth-of-type(1) > .twoMenu > li:last-child, .siteList > li:nth-of-type(2) > .twoMenu > li:last-child { display: none; }

.siteList h3 a { font-family: 'Numans-Regular', sans-serif; display: block; color: #fff; height: 60px; text-transform: uppercase; font-size: 20px; line-height: 60px; box-sizing: border-box; font-weight: normal; }
.twoMenu { overflow: hidden; display: none; }
.twoMenu li { width: 50%; float: left; }
.twoMenu li a { color: #ccc; display: block; padding-bottom: 20px; }
.close { position: absolute; top: 0; right: 0; color: #fff; display: block; width: 60px; height: 60px; background-color: red; z-index: 1; text-indent: -9999px; background: url(../img/close.svg) center no-repeat; background-size: 20px 20px; }
.navLogin { overflow: hidden; }
.navLogin li { display: inline-block; }
.navLogin li:last-child a::before { content: "/"; font-style: italic; padding: 0 20px; }
.navLogin li a { display: block; height: 70px; line-height: 70px; color: #eee; }

/* footer 영역 */
#footer { padding: 20px 0; background-color: #303232; }
.footList { padding: 0 20px; overflow: hidden; }
.partnersBtn { float: left; width: 160px; display: block; font-size: 16px; font-weight: 700; text-align: left; text-transform: capitalize; color: #5d6262;  background: none; padding-bottom: 8px; border-bottom: 1px solid #5d6262; }
.footList ul { float: right; }
.footList li { float: left; }
.footList li a { display: block; width: 40px; height: 28px; }
.footList li:nth-of-type(1) a { background: url(../img/foot_sns_icon01.svg) right center no-repeat; background-size: 15px 26px; }
.footList li:nth-of-type(2) a { background: url(../img/foot_sns_icon02.svg) right center no-repeat; background-size: 26px 26px; }
.footList li:nth-of-type(3) a { background: url(../img/foot_sns_icon03.svg) right center no-repeat; background-size: 26px 26px; }
.partners { position: relative; z-index: 2; }

.partners ul { padding: 10px 20px 0 20px; display: none; height: 300px; background-color: #303232; transform-origin: 50% 100%; overflow: scroll; position: absolute; bottom: 48px;  }
.partners ul li { width: 50%; float: left; }
.partners ul li a { display: block; font-size: 14px; font-weight: 700; color: #ccd1d0; letter-spacing: -0.5px; height: 50px; line-height: 50px; }
.add { padding: 20px; }
.add p { font-style: normal; font-size: 12px; color: #ccd1d0; line-height: 27px; border-bottom: 1px solid #5c6161; box-sizing: border-box; padding-bottom: 20px; }
.add p i { margin: 0 10px; }
.copy { padding: 0 20px; }
.copy p { font-size: 12px; color: #ccd1d0; }

/* swiper script css 초기값 */
.swiper-container { width: 100%; height: 100%; margin-left: auto; margin-right: auto; }
.swiper-slide { text-align: center; font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}