@charset "utf-8";
/* : **<animation-name>** | **<animation-duration>** | <animation-timing-function> | <animation-delay> | <animation-iteration-count> | <animation-direction> */

/* ceo인사말 ani */
@keyframes ceoBlack {
    0% { width: 0; opacity: 0; }
    100% { width: 415px; opacity: 1; }
}
.ceoBlack { width: 0; opacity: 0; animation: ceoBlack 2s ease-in-out; animation-fill-mode: forwards;
    -webkit-transform-origin: 0% 100%; 
    -ms-transform-origin: 0% 100%; 
    -moz-transform-origin: 0% 100%; 
    -o-transform-origin: 0% 100%; 
}

/* 연혁 커튼 */
/*
@keyframes midL {
    0% { left: 0; width: 986px; }
    50% { width: 600px; }
    100% { left: -1000px; width: 300px; }
}
*/
/*.historyWrap .middle .mL { animation: midL 2s ease-in 2s; animation-fill-mode: forwards; }*/
/*
@keyframes midR {
    0% { right: 0; width: 986px; }
    50% { width: 600px; }
    100% { right: -1000px; width: 300px; }
}
.historyWrap .middle .mR { animation: midR 2s ease-in 2s; animation-fill-mode: forwards; }
*/
